/* Common styles */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main_header {
  text-align: center;
  font-family: "Times New Roman", Verdana, sans-sherif;
  border: 1px solid gray;
  background: orange;
  margin-top: 0px;
}

div {
  margin: 0 auto;
  padding: 4px auto;
  width: 600px;
}

.page_block {
  margin: 20px auto;
  border: 1px solid gray;
  display: flexbox;
}

/* Index page specific styles*/
.index_page_block {
  margin: 20px auto;
  width: 500px;
  border: 1px solid gray;
  border-right: 5px solid darkgray;
  border-bottom: 5px solid black;
  display: flexbox;
}

.index_content {
  text-align: left;
  border: 1px solid gray;
  background-color: antiquewhite;
  width: fit-content;
  margin: 0 auto;
  padding: 20px 100px;
}

/* Recipe page specific styles */

.img_container {
  width: auto;
  margin: -15px auto;
  text-align: center;
}

.recipe_main_img {
  width: 300px;
}

.ingredients {
    width: fit-content;
    padding-right: 1em;
    border: 1px solid black;
    background-color: lightcyan;
}

h2 {
    text-align: center;
}

.content_source_info {
  font-size: small;
  color: gray;
}

.description_text{
    
}